*{
    padding: 0;
    margin: 0;
}

/* Navigation */
body{
    font-family: 'Montserrat', sans-serif;
    background-color:#00000000;

}


header{
    display: flex;
    justify-content: center;
}


.navigation li {
margin-right: 50px;
margin-top: 25px;
display: inline-block;
vertical-align: middle;
}


.navigation a {
vertical-align: middle;
font-family: 'Montserrat', sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 18px;
display: flex;
align-items: center;
letter-spacing: 2.7px;
text-transform: uppercase;
color: #FF0000;
text-decoration: none;
}
/* Foto */


/* Main content */
.main{
    padding: 25;
    padding-top: 25px;
}
.img{
    width: 100%;
    margin: top 25px; 
}
.titel{
    padding-top: 49px;
    padding-bottom: 38px;
    padding-left: 550px;
    padding-right: 550px;
    text-align: center;
}

.content1{
margin: 38px 67px 28px 67px;
text-align: center;
}

.content2{
margin-top: 28px;
margin-bottom: 66px;
margin-left: 67px;
margin-right: 67px;
text-align: center;
}
/* Button */
.cont {
    width: 100%;
    height: 42px;
    display: flex;
    justify-content:center ;
    align-items: center;
}

.button{
display: inline-block;
padding: 15px 45px ;
background-color: #FF0000;
border: 0;
border-radius: 4px;
user-select: none;
}


/* Footer */
.footer{
    width: 462px;
    height:39px;
    margin: 40px 1400px 29px ;
    text-align: center;
}
